<div class="bg-image d-flex justify-content-center align-items-center flex-direction-column"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://cdn.pixabay.com/photo/2020/07/02/04/31/matrix-5361690_1280.png');
            height: 100vh">
  <div>
    <h1 class="font-monospace text-light">Create your<strong> own</strong> movie lists!</h1>
    <div class="d-flex justify-content-center">
      <p><%= link_to "Enter", lists_path, class: "ms-1 p-3 text-decoration-none fs-3 text-light btn btn-dark mt-5" %></p>
    </div>
  </div>
</div>
