<div class="container d-flex justify-content-center">
  <h1>Lists#index</h1>
  <p>Find me in app/views/lists/index.html.erb</p>
</div>

<div class="container d-flex justify-content-evenly">
  <% @lists.each do |list| %>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= list.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=  %></li>
        <li class="list-group-item"><%=  %></li>
        <li class="list-group-item">A third item</li>
      </ul>
      <div class="card-body">
        <%= link_to "See List", list_path(list), class: "btn btn-dark text-light mt-3 p-2 ms-1" %>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  <% end %>
</div>
