<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-6">
        <h1 class="border-bottom p-3">Add the name of<strong> your</strong> Bookmark</h1>

        <div>
          <p><%= link_to "Back to list", list_path(@list), class: "btn btn-dark mt-5 text-white"%></p>
        </div>
      </div>
    </div >
  </div>
</div>
